.table {
  position: absolute;
  width: 1182px;
  height: 200px;
  margin: 40px 0 0 360px;

  background-color: #fff;
}
.back-home {
  position: absolute;
  left: 83px;
  top: 40px;
}

.student-title-she {
  width: 50%;
  margin: 5em 2em 0 7.4em ;

  font-weight: normal;
  font-size: 48px;
  line-height: 50%;
  color: #FFFFFF;
    h2 {
      font-size: 58px;
    }
    .form-control {
      width: 420px;
      height: 38px;
    }
}

.create {
  position: relative;
  width: 193px;
  height: 41px;

  font-weight: bold;

  left: 1280px;
  bottom: 40px;
}