.department-svg,.book-svg, .people, .college-subject-svg {
  position: absolute;
  width: 70px;
  height: 81px;

  color: #E3A400;
}

.department-svg {
  left: 273px;
  top: 264px;

  background-color: #E3A400;

}

.book-svg {
  left: 275px;
  top: 440px;
}

.people {
  left: 275px;
  top: 110px;

  background-color: #E3A400;

}

.college-subject-svg {
  left: 275px;
  top: 620px;
}