.menu-item {
  display: inline-block;
  margin: 3em;
}

.home {
  text-align: center;
  margin: 12%;
  font-size: 1.5em;
}

.item {
  width: 2em;
  height: 2em;
}

@media (max-width: 500px) {
  .home {
    font-size: 0.9em; 
  }
}