.menu-item {
  display: inline-block;
  margin: 3em;
}

main {
  text-align: center;
  margin: 12%;
  font-size: 2em;
}

.item {
  width: 2em;
  height: 2em;
}

@media (max-width: 500px) {
  main {
    font-size: 0.9em; 
  }
}