.left {
  .menu-item {
    text-align: center;
    margin: 60px auto;
    img {
      width: 70px;
      height: 81px;
    }
    a {
      display: block;
      padding: 10px;

      font-weight: bold;
      font-size: 36px;
      line-height: 34px;
    }
  }
}
