// .table {
// }
//  ADICIONAR UM LERFT PARA TELAS GRANDES COM MEDIA-QUERYS

.back-home {
  margin: 3%;
}

h2, h3 {
  left: 3%;
  margin: 0.5em 0.5em 0.5em 3%;
}

.create-student {
  margin: 1em 0 2em 3%;
}

.input {
  width: 40%;
  margin: 2em 2em 1em 3%;
}